Repository apache/geode-examples, changes with the owners that CODEOWNERS names for each.
All owners: @rhoughton-pivot, @onichols-pivotal, @upthewaterspout

Bumping version to 1.12.4
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.5
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.5
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.0
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.0
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.0
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.0
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.1
  gradle.properties
Owners: @rhoughton-pivot

GEODE-9636: uplift lucene version to 7.1.0 in geode-example/luceneSpatial
  luceneSpatial/build.gradle
  luceneSpatial/src/test/java/org/apache/geode_examples/luceneSpatial/ExampleTest.java
  luceneSpatial/src/test/java/org/apache/geode_examples/luceneSpatial/SpatialHelperTest.java
  luceneSpatial/src/test/java/org/apache/geode_examples/luceneSpatial/TrainStopSerializerTest.java
Owners: @rhoughton-pivot

Bumping version to 1.12.5
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.5
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.5
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.5
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.5
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.5
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.5
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.5
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.6
  gradle.properties
Owners: @rhoughton-pivot

GEODE:9791: Update Mockito dependency to 4.0.0
  async/src/test/java/org/apache/geode/examples/async/ExampleTest.java
  loader/src/test/java/org/apache/geode/examples/loader/ExampleTest.java
  writer/src/test/java/org/apache/geode_examples/writer/ExampleTest.java
Owners: none

GEODE-9814: Add geode-for-redis example
  .gitignore
  README.md
  build.gradle
  geodeForRedis/README.md
  geodeForRedis/build.gradle
  geodeForRedis/scripts/start.gfsh
  geodeForRedis/scripts/stop.gfsh
  geodeForRedis/src/main/java/org/apache/geode_examples/geodeForRedis/Example.java
  gradle/rat.gradle
  settings.gradle
Owners: @onichols-pivotal, @rhoughton-pivot

Bumping version to 1.12.6
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.6
  gradle.properties
Owners: @rhoughton-pivot

Review feedback
  geodeForRedis/README.md
  geodeForRedis/build.gradle
  geodeForRedis/src/main/java/org/apache/geode_examples/geodeForRedis/Example.java
Owners: @rhoughton-pivot

Change wording in README
  geodeForRedis/README.md
Owners: none

Bumping version to 1.13.5
  gradle.properties
Owners: @rhoughton-pivot

CODEOWNERS:

/wan @rhoughton-pivot
*gradle* @rhoughton-pivot

/README.md @onichols-pivotal
/queries @upthewaterspout
# *.jar @apache/geode-committers
