Repository apache/geode-examples, changes with the owners that CODEOWNERS names for each.
All owners: @upthewaterspout, @rhoughton-pivot, @onichols-pivotal

Update README.md
  wan/README.md
Owners: @rhoughton-pivot, @upthewaterspout, @onichols-pivotal

modify .asf.yml for test branch
  .asf.yaml
Owners: @upthewaterspout

Update README.md
  wan/README.md
Owners: @rhoughton-pivot, @upthewaterspout, @onichols-pivotal

rename package
  writer/src/main/java/org/apache/geode/examples/writer/Example.java
  writer/src/main/java/org/apache/geode/examples/writer/ExampleCacheWriter.java
  writer/src/main/java/org/apache/geode/examples/writer/SSNVetter.java
Owners: @upthewaterspout

2 codeowners, 1 per file
  README.md
  eviction/src/main/java/org/apache/geode_examples/eviction/Example.java
Owners: @onichols-pivotal, @upthewaterspout

Bumping version to 1.13.1-build.0
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.1-build.0
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.1-build.0
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.1-build.0
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.2-build.0
  gradle.properties
Owners: @rhoughton-pivot

adding rest api examples
  README.md
  rest/README.md
  rest/scripts/start.gfsh
  rest/scripts/stop.gfsh
  rest/src/main/java/org/apache/geode_examples/rest/Example.java
  settings.gradle
Owners: @onichols-pivotal, @upthewaterspout, @rhoughton-pivot

CODEOWNERS:

* @upthewaterspout

/wan @rhoughton-pivot @upthewaterspout @onichols-pivotal
*gradle* @rhoughton-pivot

/README.md @onichols-pivotal

# *.jar @apache/geode-committers
