Repository apache/geode-examples, changes with the owners that CODEOWNERS names for each.
All owners: @rhoughton-pivot, @onichols-pivotal, @upthewaterspout

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.5
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.1
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.1
  gradle.properties
Owners: @rhoughton-pivot

Update README.md
  geodeForRedis/README.md
Owners: none

Minor README changes, specify redundancy level in start.gfsh
  README.md
  geodeForRedis/README.md
  geodeForRedis/scripts/start.gfsh
  geodeForRedis/src/main/java/org/apache/geode_examples/geodeForRedis/Example.java
Owners: @onichols-pivotal

GEODE-9814: Add geode-for-redis example (#110)
  .gitignore
  README.md
  build.gradle
  geodeForRedis/README.md
  geodeForRedis/build.gradle
  geodeForRedis/scripts/start.gfsh
  geodeForRedis/scripts/stop.gfsh
  geodeForRedis/src/main/java/org/apache/geode_examples/geodeForRedis/Example.java
  gradle/rat.gradle
  settings.gradle
Owners: @onichols-pivotal, @rhoughton-pivot

Bumping version to 1.13.5
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.5
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.1
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.1
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.6
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.6
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.7
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.6
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.2
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.7
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.6
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.7
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.6
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.2
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.2
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.8
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.7
  gradle.properties
Owners: @rhoughton-pivot

CODEOWNERS:

/wan @rhoughton-pivot
*gradle* @rhoughton-pivot

/README.md @onichols-pivotal
/queries @upthewaterspout
# *.jar @apache/geode-committers
