Repository apache/geode-examples, changes with the owners that CODEOWNERS names for each.
All owners: @rhoughton-pivot, @onichols-pivotal, @upthewaterspout

disparate ownership areas
  README.md
  queries/src/main/java/org/apache/geode_examples/queries/Example.java
Owners: @onichols-pivotal, @upthewaterspout

GEODE:8737: refactoring
  rest/src/main/java/org/apache/geode_examples/rest/Example.java
Owners: none

GEODE:8737: closing unused resources
  rest/src/main/java/org/apache/geode_examples/rest/Example.java
Owners: none

GEODE:8737: pull request review README.md changes
  rest/README.md
Owners: none

GEODE:8737: refactoring
  rest/src/main/java/org/apache/geode_examples/rest/Example.java
Owners: none

GEODE:8737: PR review changes
  rest/README.md
  rest/src/main/java/org/apache/geode_examples/rest/Example.java
Owners: none

GEODE:8751: geode compression example
  README.md
  compression/README.md
  compression/scripts/start.gfsh
  compression/scripts/stop.gfsh
  compression/src/main/java/org/apache/geode_examples/compression/Example.java
  settings.gradle
Owners: @onichols-pivotal, @rhoughton-pivot

GEODE-8751: geode compression example
  README.md
  compression/README.md
  compression/scripts/start.gfsh
  compression/scripts/stop.gfsh
  compression/src/main/java/org/apache/geode_examples/compression/Example.java
  settings.gradle
Owners: @onichols-pivotal, @rhoughton-pivot

GEODE:8757: allow travis ci to build geode examples with java 11
  .travis.yml
Owners: none

GEODE-8751: changes in README.md
  compression/README.md
Owners: none

GEODE-8751: changes to use old HttpURLConnection API instead of JDK11 new HttpClient API
  rest/src/main/java/org/apache/geode_examples/rest/Example.java
Owners: none

GEODE-8751: changes to use old HttpURLConnection API instead of JDK11 new HttpClient API
  rest/src/main/java/org/apache/geode_examples/rest/Example.java
Owners: none

GEODE-8751: geode compression example (#106)
  README.md
  compression/README.md
  compression/scripts/start.gfsh
  compression/scripts/stop.gfsh
  compression/src/main/java/org/apache/geode_examples/compression/Example.java
  settings.gradle
Owners: @onichols-pivotal, @rhoughton-pivot

GEODE-8751: geode compression example (#106)
  README.md
  compression/README.md
  compression/scripts/start.gfsh
  compression/scripts/stop.gfsh
  compression/src/main/java/org/apache/geode_examples/compression/Example.java
  settings.gradle
Owners: @onichols-pivotal, @rhoughton-pivot

GEODE-8737: Create new geode example about rest api (#104)
  README.md
  rest/README.md
  rest/scripts/start.gfsh
  rest/scripts/stop.gfsh
  rest/src/main/java/org/apache/geode_examples/rest/Example.java
  settings.gradle
Owners: @onichols-pivotal, @rhoughton-pivot

GEODE-8496: Bump gradle from 5.4 to 5.5 to match geode
  gradle/wrapper/gradle-wrapper.properties
Owners: @rhoughton-pivot

Bumping copyright year to 2021
  NOTICE
Owners: none

Bumping version to 1.12.1
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.1
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.1
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.1
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.1
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.1
  gradle.properties
Owners: @rhoughton-pivot

Bumping copyright year to 2021
  NOTICE
Owners: none

pair develop examples with 1.15.0 now that support/1.14 has been created
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.1
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.1-build.0
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.2
  gradle.properties
Owners: @rhoughton-pivot

Bumping copyright year to 2021
  NOTICE
Owners: none

Bumping version to 1.13.2
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.2
  gradle.properties
Owners: @rhoughton-pivot

CODEOWNERS:

/wan @rhoughton-pivot
*gradle* @rhoughton-pivot

/README.md @onichols-pivotal
/queries @upthewaterspout
# *.jar @apache/geode-committers
