Repository apache/geode-examples, changes with the owners that CODEOWNERS names for each.
All owners: @rhoughton-pivot, @onichols-pivotal, @upthewaterspout

Bumping version to 1.14.3
  gradle.properties
Owners: @rhoughton-pivot

Bumping copyright year to 2022
  NOTICE
Owners: none

Bumping version to 1.12.8
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.8
  gradle.properties
Owners: @rhoughton-pivot

Bumping copyright year to 2022
  NOTICE
Owners: none

Bumping version to 1.13.7
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.7
  gradle.properties
Owners: @rhoughton-pivot

Bumping copyright year to 2022
  NOTICE
Owners: none

Bumping version to 1.14.3
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.3
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.9
  gradle.properties
Owners: @rhoughton-pivot

Restore Apache Geode graphic
  README.md
Owners: @onichols-pivotal

Restore Apache Geode graphic (#112)
  README.md
Owners: @onichols-pivotal

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.8
  gradle.properties
Owners: @rhoughton-pivot

fix build failure due to indirect dependency on jcenter
  build.gradle
  gradle/rat.gradle
Owners: @rhoughton-pivot

fix build failure due to indirect dependency on jcenter
  build.gradle
  gradle/rat.gradle
Owners: @rhoughton-pivot

fix build failure due to indirect dependency on jcenter
  build.gradle
  gradle/rat.gradle
Owners: @rhoughton-pivot

fix build failure due to indirect dependency on jcenter
  build.gradle
  gradle/rat.gradle
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.14.4
  gradle.properties
Owners: @rhoughton-pivot

Bumping copyright year to 2022
  NOTICE
Owners: none

pair develop examples with 1.16.0 now that support/1.15 has been created
  gradle.properties
Owners: @rhoughton-pivot

GEODE-9907: Add larger timeout to JedisCluster in Redis example
  geodeForRedis/src/main/java/org/apache/geode_examples/geodeForRedis/Example.java
Owners: none

GEODE-9907: Add larger timeout to JedisCluster in Redis example (#113)
  geodeForRedis/src/main/java/org/apache/geode_examples/geodeForRedis/Example.java
Owners: none

GEODE-9907: Add larger timeout to JedisCluster in Redis example (#113)
  geodeForRedis/src/main/java/org/apache/geode_examples/geodeForRedis/Example.java
Owners: none

GEODE-10089: Bump version to 1.15.0
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10089: Set temporary staging repo
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10089: Bump version to 1.15.0
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10089: reset after RC0 test
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10099: Bump version to 1.12.9
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10099: Set temporary staging repo
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10099: Bump version to 1.12.9
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10100: Bump version to 1.13.8
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10100: Set temporary staging repo
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10100: Bump version to 1.13.8
  gradle.properties
Owners: @rhoughton-pivot

CODEOWNERS:

/wan @rhoughton-pivot
*gradle* @rhoughton-pivot

/README.md @onichols-pivotal
/queries @upthewaterspout
# *.jar @apache/geode-committers
