Repository apache/geode-examples, changes with the owners that CODEOWNERS names for each.
All owners: @rhoughton-pivot, @onichols-pivotal, @upthewaterspout

CODEOWNERS:

/wan @rhoughton-pivot
*gradle* @rhoughton-pivot

/README.md @onichols-pivotal
/queries @upthewaterspout
# *.jar @apache/geode-committers

GEODE-10100: Bump version to 1.14.4
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10101: Set temporary staging repo
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10101: Bump version to 1.14.4
  gradle.properties
Owners: @rhoughton-pivot

Revert "GEODE-10099: Set temporary staging repo"
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10099: Bump version to 1.12.10
  gradle.properties
Owners: @rhoughton-pivot

Revert "GEODE-10100: Set temporary staging repo"
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10100: Bump version to 1.13.9
  gradle.properties
Owners: @rhoughton-pivot

Revert "pair develop examples with 1.16.0 now that support/1.15 has been created"
  gradle.properties
Owners: @rhoughton-pivot

Revert "GEODE-10101: Set temporary staging repo"
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10101: Bump version to 1.14.5
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10151: Extract redis distribution
  geodeForRedis/build.gradle
  geodeForRedis/scripts/start.gfsh
Owners: @rhoughton-pivot

GEODE-10151: Extract redis distribution
  geodeForRedis/build.gradle
  geodeForRedis/scripts/start.gfsh
Owners: @rhoughton-pivot

GEODE-10151: Extract redis before start
  geodeForRedis/build.gradle
Owners: @rhoughton-pivot

GEODE-10278: Remove the geode-for-redis example
  README.md
  build.gradle
  geodeForRedis/README.md
  geodeForRedis/build.gradle
  geodeForRedis/scripts/start.gfsh
  geodeForRedis/scripts/stop.gfsh
  geodeForRedis/src/main/java/org/apache/geode_examples/geodeForRedis/Example.java
  gradle/rat.gradle
  settings.gradle
Owners: @onichols-pivotal, @rhoughton-pivot

GEODE-10278: Remove the geode-for-redis example
  README.md
  build.gradle
  geodeForRedis/README.md
  geodeForRedis/build.gradle
  geodeForRedis/scripts/start.gfsh
  geodeForRedis/scripts/stop.gfsh
  geodeForRedis/src/main/java/org/apache/geode_examples/geodeForRedis/Example.java
  gradle/rat.gradle
  settings.gradle
Owners: @onichols-pivotal, @rhoughton-pivot

GEODE-10089: Update examples version
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10089: Bump version to 1.15.0
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10089: Set temporary staging repo
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10089: Bump version to 1.15.0
  gradle.properties
Owners: @rhoughton-pivot

Revert "GEODE-10089: Set temporary staging repo"
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10089: Bump version to 1.15.1
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10401: Bump version to 1.15.1
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10401: Set temporary staging repo
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10401: Bump version to 1.15.1
  gradle.properties
Owners: @rhoughton-pivot

Revert "GEODE-10401: Set temporary staging repo"
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10401: Bump version to 1.15.2
  gradle.properties
Owners: @rhoughton-pivot

GitHub Action runAll Pipeline
  gradle.properties
Owners: @rhoughton-pivot

Add the github workflow file
  .github/workflows/gradle.yml
  .travis.yml
Owners: @rhoughton-pivot

run only on Windows
  .github/workflows/gradle.yml
Owners: @rhoughton-pivot

add task reference
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10435: Migrate to GH Actions (#116)
  .github/workflows/gradle.yml
  .travis.yml
Owners: @rhoughton-pivot

GEODE-10461: Bumping copyright year to 2025
  NOTICE
Owners: none

GEODE-10461: Bump version to 1.15.2
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10461: Set temporary staging repo
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10461: Bump version to 1.15.2
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10461: Bump version to 1.15.2
  gradle.properties
Owners: @rhoughton-pivot

Revert "GEODE-10461: Set temporary staging repo"
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10461: Set temporary staging repo
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10461: Bump version to 1.15.2
  gradle.properties
Owners: @rhoughton-pivot

GEODE-10461: Bump version to 1.15.2
  gradle.properties
Owners: @rhoughton-pivot
