Repository apache/geode-examples, changes with the owners that CODEOWNERS names for each.
All owners: @rhoughton-pivot, @onichols-pivotal, @upthewaterspout

CODEOWNERS:

/wan @rhoughton-pivot
*gradle* @rhoughton-pivot

/README.md @onichols-pivotal
/queries @upthewaterspout
# *.jar @apache/geode-committers

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.3
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.2
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.2
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.3
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.3
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.3
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.3
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.3
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.3
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.3
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.3
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.3
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.3
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.3
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.4
  gradle.properties
Owners: @rhoughton-pivot

Revert "temporarily point to staging repo for CI purposes"
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.4
  gradle.properties
Owners: @rhoughton-pivot

GEODE-9430: update sessionState example and README with more generic Tomcat info
  .gitignore
  sessionState/README.md
  sessionState/scripts/example-setup.sh
Owners: none

Fix capitalization of Geode Logo filename
  README.md
Owners: @onichols-pivotal

GEODE-9430: drop antlr zip requirement, no longer needed
  sessionState/scripts/example-setup.sh
Owners: none

GEODE-9430: update Tomcat sessionState example (#108)
  .gitignore
  sessionState/README.md
  sessionState/scripts/example-setup.sh
Owners: none

GEODE-9430: update Tomcat sessionState example (#108)
  .gitignore
  sessionState/README.md
  sessionState/scripts/example-setup.sh
Owners: none

GEODE-9430: update Tomcat sessionState example (#108)
  .gitignore
  sessionState/README.md
  sessionState/scripts/example-setup.sh
Owners: none

Bumping version to 1.13.4
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.13.4
  gradle.properties
Owners: @rhoughton-pivot

Bumping version to 1.12.4
  gradle.properties
Owners: @rhoughton-pivot

temporarily point to staging repo for CI purposes
  gradle.properties
Owners: @rhoughton-pivot
